name: Check Black Formatting

on:
  pull_request:
  push:
    branches:
      - main
      - develop

jobs:
  black:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Install Black
        run: pip install black==24.1.0

      - name: Check Black formatting
        run: black --check --line-length 100 .
